
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('iranyekanwebregular.eot');
    src: url('iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('iranyekanwebregular.ttf') format('truetype');
  }

  *{
    font-family: iranyekan;
  }