
@font-face {
	font-family: Lalezar;
	src: url('Lalezar-Regular.eot');
	src: url('Lalezar-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('Lalezar-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('Lalezar-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 
}
